.SocialBanner {
    width: 100%;
    border: 1px solid var(--color-main);
    border-radius: 10px;

    display: flex;
    gap: 32px;
}

.SocialBanner-header {
    background-color: var(--color-secondary);
    color: var(--color-main);
    padding: 30px 0;
    padding-inline: 36px 150px;

    display: grid;
    gap: 12px;
}

.SocialBanner-title {
    font-family: "din1451";
    font-size: 52px;
    font-weight: normal;
    font-style: normal;
    color: var(--color-main);
    line-height: 0.8;
}

.SocialBanner-description {
    font-family: "din1451";
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: var(--color-main);
    padding-top: 12px;
}

.SocialBanner-shareButtons {
    display: grid;
    gap: 12px;
}

.SocialBanner-fbCard {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    margin-bottom: 100px;
    border: 1px solid #dddee0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.SocialBanner-fbCard-main {
    padding: 12px;
    display: flex;
    gap: 4px;
}

.SocialBanner-fbCard-title {
    color: var(--color-main);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    cursor: pointer;
}

.SocialBanner-fbCard-followers{
    color: var(--color-main);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
}

.SocialBanner-fbCard-title:hover {
    text-decoration: underline;
}

.SocialBanner-fbCard-share {
    background-color: #f5f6f7;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SocialBanner-fbCard-shareBtn {
    background-color: #f5f6f7;
    color: #4b4f56;
    padding: 4px 8px;
    border: 1px solid rgba(0, 0, 0, .12);

    display: flex;
    align-items: center;
    gap: 8px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}


@media (max-width: 991px) {

    
}