.SliderGalleryCard {
    width: 250px;
    border: 1px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.SliderGalleryCard-imageWrapper {
    overflow: hidden;
}

.SliderGalleryCard-image {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    object-position: bottom;
    transition: transform 0.4s ease-in-out;
}

.SliderGalleryCard-image:hover {
    transform: scale(1.1);
}

.SliderGalleryCard-title {
    /* padding: 16px; */
    font-size: 16px;
    font-weight: 600;
}

.SliderGalleryCard-button {
    background-color: var(--color-main);
    color: var(--color-white);
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}