.Content{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.CardMenu-content {
    width: 1094px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.CardMenu-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.CardMenu-item {
    width: 517px;
    height: 366px;
    position: relative;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.4);
    margin: 10px 15px;
}

.CardMenu-title {
    position: absolute;
    top: 20px;
    left: 20px;
}

.CardMenu-button {
    width: 206px;
    height: 49px;
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--color-main);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}