.Intro-content {
    margin-top: 32px;
}

.Intro-wrapper {
    width: 1114px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 80px;
    background-color: #fff;
}

.Intro-Font-title {
    font-family: "din1451";
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    color: var(--color-main);
    padding-bottom: 30px;
}

.Intro-description {
    font-family: "kulturista";
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    text-align: justify;
}

.Intro-title-questions {
    font-family: "din1451";
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: var(--color-main);
    padding: 50px 15px 25px;
}