.Home {
  max-width: 1200px;
  margin-inline: auto;
  margin-bottom: 120px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.Home-promos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}