.SecondNav {
  width: 1600px;
  padding-top: 20px;
  margin: auto;
  transition:
    padding-top .2s ease-in-out,
    width .5s ease-in-out;
  ;
}

.SecondNav-scrolled {
  width: 100%;
  padding-top: 0;
}

.SecondNav-nav {
  background-color: var(--color-white);
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 3px 0px;
  box-shadow: 0 3px 10px #ccc;
}

.SecondNav-list {
  width: 900px;
  padding: 3px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 18px;
}

.SecondNav-item {
  color: #373d42;
  padding: 12px;
  font-size: 18px;
  font-weight: 300;
  font-family: din1451;
}

.SecondNav-item:hover {
  background-color: #f0f0f4;
  border-radius: 20px;
  box-shadow: 0 2px 5px #ccc;
}

.SecondNav-link:hover {
  color: #5a7fbb;
}

.SecondNav-item-active {
  background-color: #ffb500;
  color: #305b8a;
  border-radius: 20px;
}

.SecondNav-item-active:hover {
  background-color: #ffb500;
  box-shadow: 0 2px 5px #ccc;
}