.Product {
    background-color: var(--color-white);
    min-height: 100vh;
}

.Product-content {
    max-width: 1200px;
    margin-inline: auto;
    margin-bottom: 400px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
}

.Product-aside {
    display: grid;
    gap: 20px;
}

.Product-url {
    background-color: var(--color-white);
    color: var(--color-main);
    margin-top: 20px;
    display: flex;
    gap: 4px;
    font-size: 20px;
}

.Product-url-link {
    color: var(--color-main);
    font-family: "din1451";
    font-weight: 300;
    text-decoration: underline;
    text-transform: capitalize;
}

.Product-image {
    height: 340px;
    width: 340px;
    border-radius: 12px;
}


.Product-info {
    margin-top: 64px;
    margin-left: 24px;

    display: grid;
    gap: 24px;
}

.Product-name {
    color: var(--color-main);
    font-family: "kulturistaBold";
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
}


@media (max-width: 991px) {
    .Product-content {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .Product-url {
        padding-block: 8px;
        padding-left: 8px;
        margin-top: 0;
        font-size: 14px;
    }

    .Product-image {
        width: 100%;
        border-radius: 0;
    }

    .Product-info {
        margin-top: 0px;
    }

    .Product-menuBar {
        background-color: var(--color-main);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Product-menuBar-back {
        color: var(--color-white);
        height: 40px;
        width: 40px;
    }

    .Product-menuBar-actions {
        display: flex;
        gap: 8px;
    }

    .Product-menuBar-cart {
        position: relative;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Product-menuBar-counter {
        background-color: var(--color-secondary);
        color: var(--color-black);
        padding-inline: 8px;
        border-radius: 16px;
        position: absolute;
        top: -5px;
        right: -5px;
        font-weight: bold;
    }

    .Product-menuBar-cart svg path {
        fill: var(--color-white);
    }

    .Product-menuBar-open {
        font-size: 40px;
        color: var(--color-white);
    }

}