img{
    width: 100%;
}
.carrito{
    right: 0;
    background: #fff;
    width: 35%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
   
}

.carrito-card{
   
    border-top: 2px solid#ccc;
}

  .button-close{
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #d90f06;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    font-size: 24px;
    border: none;
    font-family: sans-serif;
  }
  .carrito-title{
     
    position: relative;
    background: #e8e8e8;
    padding: 20px 30px 20px 15px;
    
    display: flex;
    justify-content: end;
}
.contenedor-vacio{
    padding: 120px 60px;
}
.carrito-vacio{
    width: 70px;
    height: 50px;
}
.contenedor-vacio-padding{
    padding: 30px;
    text-align: -webkit-center;
}
.carrito-vacio-text{
    font-family: Kulturista;
    font-weight: 600;
    margin: 20px;
}
.carrito-vacio-title{
    color: #ccc;
    font-weight: 400;
    font-family: Kulturista;
    margin-top: 25px;
}
