.ProdGallery {
    max-width: 1000px;
    margin-inline: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}

@media screen and (max-width:600px){
  
    .ProdGallery{
     
   
    gap: 8px;
    display: flex;
    justify-content: center;
    }
}