.CardPromo {
    position: relative;
}

.CardPromo-header {
    width: 100%;
    height: 50px;
    padding-inline: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}

.CardPromo-header-discount {
    background-color: var(--color-tertiary);
    padding: 4px 8px;
    border-radius: 4px;
    color: var(--color-white);
    font-size: 18px;
    font-style: normal;
    display: flex;
    gap: 4px;
}

.CardPromo-header-fav {
    width: 20px;
    height: 20px;
    /* margin-inline: 8px; */
}